{
  "presets": [
    "react"
  ],

  "plugins": [
    "array-includes",
    "check-es2015-constants",
    "transform-es2015-block-scoping",
    "transform-es2015-arrow-functions",
    "transform-es2015-parameters",
    "transform-es2015-destructuring",
    "transform-es2015-spread",
    [
      "transform-es2015-classes",
      {
        "loose": true
      }
    ]
  ],

  "env": {
    "development": {
      "plugins": ["external-helpers"]
    },

    "production": {
      "plugins": [
        "external-helpers",
        "transform-react-inline-elements",
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    },

    "test": {
      "plugins": ["transform-es2015-modules-amd"]
    }
  }
}
