sudo: false
language: node_js
node_js:
  - "4.2"
cache:
  directories:
    - node_modules

addons:
  # Firefox 48+ is needed because it allows to call window.foo within Selenium
  # https://bugzilla.mozilla.org/show_bug.cgi?id=1123506
  firefox: latest-beta

install:
  - "sh -e /etc/init.d/xvfb start"
  - "export DISPLAY=:99.0"
  - "wget http://selenium-release.storage.googleapis.com/2.53/selenium-server-standalone-2.53.0.jar"
  - "java -jar selenium-server-standalone-2.53.0.jar > /dev/null &"
  - npm install

script:
  - npm test
