sudo: required
language: node_js
node_js:
  - "4.2"
cache:
  directories:
    - node_modules

addons:
  # Firefox 48+ is needed because it allows to call window.foo within Selenium
  # https://bugzilla.mozilla.org/show_bug.cgi?id=1123506
  firefox: latest-beta

install:
  - "sh -e /etc/init.d/xvfb start"
  - "export DISPLAY=:99.0"
  - npm install

script:
  - npm test
