.modal {
  display: none;
  opacity: 0;
  width: 90vw;
  padding: 0;
  box-shadow: 1rem 1rem 2rem grey;
  left: 5vw;
  top: 40%;
  position: absolute;
  margin: auto;
  background: white;
  text-align: center;
}

.modal.visible {
  display: block;
  opacity: 1;
}

.modal button {
  background: #fff;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: .3rem;
}

/* Device list */
ul.device-list {
  padding: 0 3rem;
}

ul.device-list li {
  padding: 0;
  position: relative;
  display: flex;
}

ul.device-list li[data-icon] {
  padding-left: 4rem;
  background-size: 2.5rem;
  background-position: left 1rem;
  background-repeat: no-repeat;
}

ul.device-list li[data-connected="false"] {
  opacity: 0.25;
}

ul.device-list li a {
  color: #000;
  text-decoration: none;
  width: 100%;
}

ul.device-list div.colour-picker,
ul.device-list input[type="checkbox"] {
  width: 2.5rem;
  height: 2rem;
  margin: 1.5rem 0 0 1rem;
  border-radius: .2rem;
}

ul.device-list input[type="checkbox"] {
  border: 1px solid black;
}

ul.device-list div.colour-picker {
}

/* Tag list */
ul.tag-list {
  padding: 0 3rem;
}

ul.tag-list li {
  padding-left: 4rem;
  position: relative;
}

ul.tag-list input[type="checkbox"] {
  position: absolute;
  right: 0;
  top: 1.5rem;
  width: 2rem;
  height: 2rem;
  margin: 0;
  border-radius: .2rem;
  border: 1px solid black;
}

img.rename {
  width: 3rem;
  height: 4.2rem;
}

div.add {
  background: url(icons/plus.svg) 3.5rem no-repeat;
  background-size: 2rem;
  padding: 0 7rem;
}
