header.white {
  background-color: white;
  color: #2F99CD;
  text-align: center;
  border-bottom: 1px solid #2F99CD;
}

.user-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.user-login img {
  width: 50%;
  margin: 0 auto;
  min-height: 0;
}

.user-login button {
  margin: 0 1rem;
  min-height: 5rem;
  color: white;
  background-color: #2F99CD;
  border: none;
}
