/*
img.rename {
  width: 3rem;
  height: 4.2rem;
}
*/

.add-tag-button {
  padding: 0 7rem;

  color: #000;
  text-align: left;

  background: url(../../icons/plus.svg) 3.5rem no-repeat;
  background-size: 2rem;
  border: none;
  filter: brightness(0);
  -webkit-filter: brightness(0);
}
