[data-icon="unknown"] {
  background-image: url('services-list/unknown.svg');
}

[data-icon="ip-camera"] {
  background-image: url('services-list/ip-camera.svg');
}

[data-icon="door-lock"] {
  background-image: url('services-list/door-lock.svg');
}

@keyframes motion-sensor-animation {
  0%, 90% {
    background-size: 2.7rem;
  }

  5%, 95% {
    background-size: 2.3rem;
  }

  10%, 85%, 100% {
    background-size: 2.5rem;
  }
}

.motion-sensor-item {
  background-image: url('services-list/motion-sensor.svg');
}

.motion-sensor-item--motion-detected {
  animation: motion-sensor-animation 1.5s linear infinite both;
}
