[data-icon="unknown"] {
  background-image: url('services-list/unknown.svg');
}

[data-icon="ip-camera"] {
  background-image: url('services-list/ip-camera.svg');
}

[data-icon="motion-sensor"] {
  background-image: url('services-list/motion-sensor.svg');
}

[data-icon="door-lock"] {
  background-image: url('services-list/door-lock.svg');
}
