.add-tag-button {
  padding: 0 7rem;

  text-align: left;
  color: #000;

  border: none;
  background: url('../icons/plus.svg') 3.5rem no-repeat;
  background-size: 2rem;
  -webkit-filter: brightness(0);
  filter: brightness(0);
}
