.themes__new-link {
  width: 3rem;
  height: 3rem;
  padding-left: 1rem;
}

.themes-list {
  padding: 0 3rem;
}

.themes-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 0.1rem solid #808080;
}

.themes-list__item--deactivated .themes-list__name {
  opacity: 0.25;
}

.themes-list__toggle {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0;
  border: 1px solid #000;
  border-radius: 0.2rem;
}

.themes-list__name {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  line-height: 2.8rem;
}

.themes-list__remove {
  right: 0;
  width: 4rem;
  height: 3rem;
  margin: 0 0 0 1rem;
  padding: 0;
  border: none;
  background: url('../icons/clear.svg') no-repeat center center;
  font-size: 0;
}
