/* Modal */
.modal {
  position: absolute;
  top: 40%;
  left: 5vw;

  display: none;
  width: 90vw;
  margin: auto;
  padding: 0;

  text-align: center;

  opacity: 0;
  background: #fff;
  box-shadow: 1rem 1rem 2rem #808080;
}

.modal.visible {
  display: block;
  opacity: 1;
}

.modal footer {
  padding-bottom: 1rem;
}
