.tag-list {
  padding: 0 3rem;
}

.tag-list__item {
  display: flex;
  position: relative;

  padding-left: 4rem;
  justify-content: space-between;
}

.tag-list__item-remove {
  width: 1rem;

  border: none;
  background: url(../icons/remove.svg) center center no-repeat;
}
