.tag-list {
  padding: 0 3rem;
}

.tag-list__item {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding-left: 4rem;
}

.tag-list__item-remove {
  width: 1rem;

  border: none;
  background: url('../icons/remove.svg') center center no-repeat;
}
